@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;

// appbar + boardbar + boardContent = 99vh;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height:  88vh;
// colors
$app-main-text-color: #333;
$board-bg-color: #0079bf;
$column-bg-color: #ebecf0;
$alert-danger : #ee5253;
// hieghts
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 4px;
$card-border-radius: 4px;

// Screen
$scree-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-widht: 375px)';